@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #FDE2F3;
}



.container{ 
    margin: 20%;
    text-align: center;
    margin-top: 100px;
}

